@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}
::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #848484;
  border-radius: 3px;
}
